.chamada {
    width: 100%;
    height: 100vh;
    background-image: url(../../public/images/img/pokem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    


}


 
    nav {
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.336);
        width: 40%;
        height: 55vh;
        display: flex;
        flex-direction: column;
        
       border-radius: 8px;

       h1{
        color: #fff;
       }

       h4{
        color: #fff;

            p{
                -webkit-text-stroke: 1px #0b67f1;
                color: #ffef11;
                font-size: 20px;
            }
       }
        input {
            
            width: 45vh;
            margin-bottom: 2vh;
            border-radius:15px ;
            padding: 8px;
            border: solid 1px black;
            background-color: #dad6d696;
            color: #fff;
        }

        div{
            display: flex;
        button{
            background-color: rgb(221, 219, 219);
            outline: none;
            border: solid 1px black;
            font-weight: 700;
            padding: 8px 20px;
            margin: 5px;
            border-radius: 20px;
            border: solid 2px #0b67f1;
        }
    }

    .div{
        max-height: 300px; 
        overflow-y: auto;
        width: 90%;
     

        ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
            background-color: #CCCCCC;
        }
        ::-webkit-scrollbar-button {
            border: 1px #FF0000 dashed;
        }
        ::-webkit-scrollbar-track {
            background: #CCCCCC;
        }
        ::-webkit-scrollbar-track-piece {
            background: #CCCCCC;
        }
        ::-webkit-scrollbar-thumb {
            background: #333333;
            border-radius: 5px;
        }
        ::-webkit-scrollbar-corner {
            background: #FF0000;
            border-radius: 5px;
        }
        .form-comment textarea::-webkit-resizer {
            border: 1px #FF0000 dashed;
        }
        table{
                height: 250px;
                overflow-y: auto;
           
            tbody{
                
                tr{
                    display: flex;
                    justify-content:space-between;
                    align-items: center;
                    width: 300px;
                    margin: 8px;
                    color: #fff;
                    

                button{
                    border-radius: 10px;
                    padding: 5px;
                    font-size: 12px;
                    font-weight:300 ;
                    background-color: #ffffffbb;
                    border: solid 2px #0b67f1;
                    font-weight: 600;
                }
            }
            }
            
            img{
                height: 90px;
                border-radius: 10px;
            }
        }
    }
    }